//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

/*======= GENERAL SETTINGS =======*/
*{margin: 0;padding: 0;
}

html,body {
 width: 100%; 
 height: 100%; 
 padding: 0; 
 margin: 0;
 font-family: 'Roboto', Helvetica, Arial, sans-serif;
 letter-spacing: 0.060px;
}
img{
	width: 100%;
}

@media screen and (min-width:0\0) { 
	html,body{
		font-weight: 500 !important;
		font-family: Helvetica, Arial, sans-serif !important;
	}
  /* Tus estilos CSS para IE9, IE10, IE11  */
}


@media only screen and (min-width: 768px){
	.container-sm {
    width: 748px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
	}
}
@media only screen and (max-width: 480px){
	.container-xs, .container-sm, .container-md {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
	}
}

@font-face {
  font-family: "theboldfont";
  src: url("../assets/font/theboldfont.ttf");
  font-weight: normal;
  font-style: normal;
}

a:hover,
a:focus,
a:active{
	text-decoration: none;
	outline: 0;
}

/*========== MIXIN ==========*/
@mixin transition{

}
/*========== COLORES ==========*/
.white{
  color: #fff;
}
.green{
  color:#4a8130 !important;
}
.gray{
  color: #4c4c4c;
}
.bg-green{
  background-color: #a7c244;
}
/*========== PADDING Y MARGIN ==========*/
.pd-0{
  padding: 0 !important;
}
.mg-0{
  margin: 0 !important;
}
/*========== FONT ==========*/
.f-17{
  font-size: 17px;
}
/*========== VIDEO ==========*/
.videoWrapper {
    position: relative;
    padding-bottom: 52.10%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    display: block;
}
.videoWrapper iframe, .videoWrapper object, .videoWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*======= SCROLLBAR =======*/
::-webkit-scrollbar{
  width: 10px;
  background: #fff;
}

::-webkit-scrollbar-track{
  background:#fff;
  border:thin solid #fff;

}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	background-color: #efefef;
	height: 120px;
}
::-webkit-scrollbar-thumb:hover{
}