/*========== portada ==========*/
.portada{
	background-color: #f7f4f3;
}
.text-portada{
	    padding: 5% 15% !important;
}

/*========== nosotros ==========*/
.mision{
  padding: 15% 0;
	img{
		width: 140px;
	}
	p{
	  padding: 25px 60px;
	  font-size: 18px;
	}
}
/*========== metodologia ==========*/
.fondo-elefante{
	background-image: url(../assets/imagenes/elefante.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.contenido-metodologia{
  padding: 7%;
  margin: 4% 0;
	img{
		width: 50px;
	}
	p{
    margin-top: 30px;
	}
}