/*========================================
=             APP CUSTOM                 =
========================================*/
/*======= GENERAL SETTINGS =======*/
* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  letter-spacing: 0.060px; }

img {
  width: 100%; }

@media screen and (min-width: 0\0) {
  html, body {
    font-weight: 500 !important;
    font-family: Helvetica, Arial, sans-serif !important; }

  /* Tus estilos CSS para IE9, IE10, IE11  */ }
@media only screen and (min-width: 768px) {
  .container-sm {
    width: 748px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto; } }
@media only screen and (max-width: 480px) {
  .container-xs, .container-sm, .container-md {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto; } }
@font-face {
  font-family: "theboldfont";
  src: url("../assets/font/theboldfont.ttf");
  font-weight: normal;
  font-style: normal; }
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: 0; }

/*========== MIXIN ==========*/
/*========== COLORES ==========*/
.white {
  color: #fff; }

.green {
  color: #4a8130 !important; }

.gray {
  color: #3a3c49; }

.bg-green {
  background-color: #a7c244; }

.bg-brown {
  background-color: #5b2e14; }

/*========== PADDING Y MARGIN ==========*/
.pd-0 {
  padding: 0 !important; }

.mg-0 {
  margin: 0 !important; }

/*========== FONT ==========*/
.f-17 {
  font-size: 17px; }

.f-600 {
  font-weight: 600; }

/*========== VIDEO ==========*/
.videoWrapper {
  position: relative;
  padding-bottom: 52.10%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  display: block; }

.videoWrapper iframe, .videoWrapper object, .videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*======= SCROLLBAR =======*/
::-webkit-scrollbar {
  width: 10px;
  background: #fff; }

::-webkit-scrollbar-track {
  background: #fff;
  border: thin solid #fff; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: #efefef;
  height: 120px; }

/*========== MENU ==========*/
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff; }

.navbar {
  padding: 10px 0;
  margin-bottom: 0px !important; }

/*========== portada ==========*/
.portada {
  background-color: #f7f4f3; }

.text-portada {
  padding: 5% 15% !important; }

/*========== nosotros ==========*/
.mision {
  padding: 15% 0; }
  .mision img {
    width: 140px; }
  .mision p {
    padding: 25px 60px;
    font-size: 18px; }

/*========== metodologia ==========*/
.fondo-elefante {
  background-image: url(../assets/imagenes/elefante.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.contenido-metodologia {
  padding: 7%;
  margin: 4% 0; }
  .contenido-metodologia img {
    width: 50px; }
  .contenido-metodologia p {
    margin-top: 30px; }

/*========== metodologia ==========*/
.servicios {
  padding: 50px 0 30px; }

.text-servicios p {
  padding: 20px 17%; }

.clase-servicios {
  padding-top: 30px; }
  .clase-servicios img {
    width: 25%; }
  .clase-servicios p {
    padding: 15px 30px; }

/*========== propyecto ==========*/
.proyectos h1 {
  padding: 48px 0 25px; }

.box-proyecto {
  padding: 0px 0px 60px; }
  .box-proyecto img {
    border: 7px solid #fff; }

.contenido-proyect {
  padding-top: 55px; }
  .contenido-proyect p {
    padding: 20px 50px; }

/*========== equipo ==========*/
.equipo {
  padding: 50px 0 30px; }

.texto-equipo {
  padding-top: 30px; }
  .texto-equipo .foto-perfil img {
    width: 60%;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 4px 4px 14px #e3e3e3; }
  .texto-equipo span {
    font-weight: 600; }
  .texto-equipo p {
    padding: 5% 5% 0; }
  .texto-equipo .redes-sociales {
    padding-top: 20px;
    display: inline-block; }
    .texto-equipo .redes-sociales ul {
      list-style: none; }
    .texto-equipo .redes-sociales li {
      padding: 0 3px;
      float: left; }
    .texto-equipo .redes-sociales img {
      width: 25px; }

/*# sourceMappingURL=main.css.map */
